.modal-menu {
  padding-top: 19px;
  padding-bottom: 62px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: $lightColor;
  transition: all 250ms $animation;

  .modal-menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .icon-x {
    display: block;
    margin-left: auto;
    margin-bottom: 10vh;
    width: 42px;
    height: 42px;
    stroke: $darkColor;
  }

  .nav-list {
    margin-bottom: auto;
    ul {
      display: flex;
      flex-direction: column;
      gap: 36px;
      li {
        a {
          color: $darkColor;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          &:hover {
            color: $accentColor;
          }
        }
      }
    }
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    li {
      display: flex;
      align-items: center;
      gap: 4px;
      a {
        color: $darkColor;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
          color: $accentColor;
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .modal-menu {
    .nav-list {
      ul {
        justify-content: space-between;
        gap: 5px;
        li {
          a {
            font-size: 15px;
          }
        }
      }
    }
    .contact-list {
      justify-content: space-between;
      gap: 10px;
      li {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
