<section class="disposal-cap">
  <div class="container">
    <h1 class="title">Стакани одноразові</h1>
    <div class="product-wrapper">
      <div class="img-wrapper">
        <img
          srcset="img/disposal-cup.png 1x, img/disposal-cup@2x.png 2x"
          src="img/disposal-cup.png"
          alt="disposal-cup"
        />
      </div>
      <div class="product-text-wrappper">
        <h3 class="subtitle">Стакани одноразові</h3>
        <p class="text">
          Стакани пластикові виготовляються з поліпропілену. Можуть бути
          прозорі, білого не прозорого кольору, або різнокольорові. На весь
          асортимент продукції діє висновок державної санітарно-епідеміологічної
          експертизи. Продукція відповідає ТУУ 22.2-13800446-002:2020 «Стакани
          поліпропіленові одноразові та кришечки до них».В нас ви можете
          придбати стакани об’ємом:
        </p>
        <ul class="capacity-list">
          <li>
            <p class="test text">80 мл</p>
          </li>
          <li>
            <p class="text">100 мл</p>
          </li>
          <li>
            <p class="text">180 мл</p>
          </li>
          <li>
            <p class="text">200 мл</p>
          </li>
          <li>
            <p class="text">250 мл</p>
          </li>
          <li>
            <p class="text">300 мл</p>
          </li>
          <li>
            <p class="text">350 мл</p>
          </li>
          <li>
            <p class="text">484 мл</p>
          </li>
          <li>
            <p class="text">500 мл</p>
          </li>
          <li>
            <p class="text">500 мл з міткою</p>
          </li>
        </ul>
        <div class="underlist-text-wrapper">
          <p class="text">
            Стакани можуть бути запаковані в поліетиленові мішки, або в картонні
            ящики. Доставка по Україні
          </p>
          <p class="text">
            Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
            нашим менеджером за телефоном
          </p>
          <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
        </div>
      </div>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти до каталог</a>
  </div>
</section>
