<section class="inside-bags">
  <div class="container">
    <h1 class="title">Пакети вкладиші з поліетилену</h1>
    <div class="product-wrapper">
      <div class="img-wrapper">
        <picture>
          <source
            srcset="
              img/inside-bag-desktop.jpg    1x,
              img/inside-bag-desktop@2x.jpg 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="img/inside-bag.png 1x, img/inside-bag@2x.png 2x"
            type="image/png"
            type="image/jpeg"
            media="(max-width:767px)"
          />

          <img src="img/inside-bag.png" alt="inside-bags" />
        </picture>
      </div>
      <div class="product-text-wrapper">
        <h3 class="subtitle">Пакети вкладиші</h3>
        <p class="text">
          Дані пакети використовуються для транспортування та зберігання масла,
          жирів, маргаринів, ягод, повидла, печива, молочних продуктів, мясних
          продуктів. Основною функцією пакетів-вкладишів є захист самого
          продукту, та картонної, або пластикової тари в якій він
          транспортується та зберігається. Ми можемо виготовити пакет
          індивідуально під ваші потреби. Вам треба повідомити параметри вашої
          тари, тобто ширину, висоту, глибину та наші спеціалісти прорахують
          точну вартість та тираж
        </p>

        <ul class="use-list">
          <li>
            <p class="subsubtitle">Спосіб використання:</p>
            <p class="text">жир, маргарин, печиво, повидло, масло</p>
            <p class="text">Ширина - 70 см. Висота - 60 см.</p>
          </li>
          <li>
            <p class="subsubtitle">Спосіб використання:</p>
            <p class="text">м’ясні вироби</p>
            <p class="text">Ширина - 102 см. Висота - 60 см.</p>
          </li>
          <li>
            <p class="subsubtitle">Спосіб використання:</p>
            <p class="text">м’ясні вироби</p>
            <p class="text">Ширина - 92 см. Висота - 51 см.</p>
          </li>
        </ul>
        <p class="text">
          Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
          нашим менеджером за телефоном
        </p>
        <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
      </div>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти до каталогу</a>
  </div>
</section>
