<section class="packaging-bags">
  <div class="container">
    <h1 class="title">Фасувальні пакети з поліетилену</h1>
    <div class="product-wrapper">
      <div class="img-wrapper">
        <img
          srcset="img/packaging-bag.png 1x, img/packaging-bag@2x.png 2x"
          src="img/packaging-bag.png"
          alt="inside-bags"
        />
      </div>
      <div class="product-text-wrapper">
        <h3 class="subtitle">Стандартні пакети</h3>
        <p class="text">В нас на складі постійно є пакети наступних видів:</p>
        <ul class="types-list">
          <li>
            <p class="test text">Пакет-майка «ВИШИВАНКА»</p>
          </li>
          <li>
            <p class="text">Пакет 10*27 1000 штук, 10000 штук в мішку</p>
          </li>
          <li>
            <p class="text">Пакет 14*32 1000 штук, 10000 штук в мішку</p>
          </li>
          <li>
            <p class="text">Пакет 18*35 1000 штук, 10000 штук в мішку</p>
          </li>
          <li>
            <p class="text">
              Пакет «майка 4» 25442 пачка 200 штук, 5000 штук в мішку
            </p>
          </li>
          <li>
            <p class="text">
              Пакет «майка 5» 25445 пачка 200 штук, 5000 штук в мішку
            </p>
          </li>
          <li>
            <p class="text">Пакет майка в рулоні</p>
          </li>
        </ul>
        <p class="text">
          Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
          нашим менеджером за телефоном
        </p>
        <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
      </div>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти до каталогу</a>
  </div>
</section>
