<section class="recycled-bags">
  <div class="container">
    <h1 class="title">Рециклінгові пакети з переробленого пластику</h1>
    <div class="product-container">
      <div class="product-wrapper">
        <div class="img-wrapper">
          <img
            srcset="img/recycled-bag.png 1x, img/recycled-bag@2x.png 2x"
            src="img/recycled-bag.png"
            alt="Packages for soil mixture"
          />
        </div>
        <div class="product-text-wrapper">
          <h3 class="subtitle">Пакети під грунтосуміш</h3>
          <ul class="types-list">
            <li>
              <p class="test text">
                Пакет під грунт прямокутної форми з прорізною ручкою для
                транспортування
              </p>
            </li>
            <li>
              <p class="text">
                Пакети можуть бути виготовлені під різний об'єм фасованого
                продукту
              </p>
            </li>
          </ul>
          <p class="text">
            Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
            нашим менеджером за телефоном
          </p>
          <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
        </div>
      </div>
      <div class="product-wrapper">
        <div class="img-wrapper second">
          <img
            srcset="img/recycled-bag-2.png 1x, img/recycled-bag-2@2x.png 2x"
            src="img/recycled-bag-2.png"
            alt="bags for building"
          />
        </div>
        <div class="product-text-wrapper">
          <h3 class="subtitle">Пакети під будматеріали</h3>
          <p class="text">
            В нас ви можете замовити пакети для фасування різноманітних
            будівельних сумішей наприклад:
          </p>
          <ul class="types-list">
            <li>
              <p class="test text">вапна</p>
            </li>
            <li>
              <p class="text">гіпсу</p>
            </li>
            <li>
              <p class="text">крейди</p>
            </li>
            <li>
              <p class="text">піску</p>
            </li>
            <li>
              <p class="text">розчину</p>
            </li>
            <li>
              <p class="text">цементу</p>
            </li>
          </ul>
          <ul class="types-description-list">
            <li>
              <p class="subtitle">Вмістимість: 2 кг.</p>
              <p class="text">Ширина - 25 см. Висота - 30 см.</p>
            </li>
            <li>
              <p class="subtitle">Вмістимість: 5 кг.</p>
              <p class="text">Ширина - 30 см. Висота - 40 см.</p>
            </li>
            <li>
              <p class="subtitle">Вмістимість: 10 кг.</p>
              <p class="text">Ширина - 40 см. Висота - 50 см.</p>
            </li>
            <li>
              <p class="subtitle">Вмістимість: 0.002 м3 розчин</p>
              <p class="text">Ширина - 40 см. Висота - 60 см.</p>
            </li>
          </ul>

          <p class="text">
            Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
            нашим менеджером за телефоном
          </p>
          <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
        </div>
      </div>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти до каталогу</a>
  </div>
</section>
