<section class="t-shirt-package">
  <div class="container">
    <h1 class="title">Пакети «Майка» з поліетилену</h1>
    <div class="product-wrapper">
      <div class="img-wrapper">
        <img
          srcset="img/t-shirt-bag.png 1x, img/t-shirt-bag@2x.png 2x"
          src="img/t-shirt-bag.png"
          alt="inside-bags"
        />
      </div>
      <div class="product-text-wrapper">
        <h3 class="subtitle">Пакет «Майка»</h3>
        <p class="text">
          Пакет майка виготовляється з поліетилену низького тиску (високої
          щільності), що здатен витримувати відносно великі навантаження. Такий
          пакет використовується в продуктових та будівельних супермаркетах, в
          магазинах з побутовою технікою, аптеках, магазинах з одягом та інших.
          Такий пакет покупець може використовувати багато разів, отже він є
          ефективним носієм реклами вашої торгової марки. Пакети виготовляються
          за індивідуальним замовленням, ціна та тираж залежить від розміру,
          товщини та кількості кольорів друку
        </p>
        <p class="text">
          Для уточнення розмірів, чи інших деталей, найпростіше зв'язатись з
          нашим менеджером за телефоном
        </p>
        <a class="text tel" href="tel:+380993260001">+38 (099) 326 00 01</a>
      </div>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти до каталогу</a>
  </div>
</section>
