<section class="about-main">
  <div class="container">
    <div class="first-wrap">
      <h1 class="title">Про нас</h1>
      <p class="text first-part-text">
        Товариство з обмеженою відповідальністю «Торгово-виробнича компанія «ЕКО
        ПАК» — виробник, основним видом діяльності є виготовлення
        поліетиленової, паперопової упаковки, одноразової посуди, пластикової
        тари
      </p>
      <p class="text second-part-text">
        За цей час ми зарекомендували себе надійним та відповідальним партнером.
        Ми вважаємо, що найголовнішою задачею будь якого підприємства є
        задоволені клієнти. Кожному ми допоможемо знайти саме те, що цікавить
        його
      </p>
      <div class="uniq-wrapper">
        <h2 class="subtitle">Унікально</h2>
        <div class="img-wrapper">
          <img srcset="./img/uniq-green-bag.png 1x, ./img/uniq-green-bag@2x.png 2x"
            src="./img/uniq-green-bag.png"
            alt="green-package"
          />
        </div>
      </div>
    </div>
    <div class="second-wrap">
      <p class="text third-part-text">
        Ми можемо запропонувати вам різноманітну упаковку, яку ви можете
        використати для пакування харчових та нехарчових продуктів. Сьогодні
        упаковка — це невід'ємна частина життя. Пакети широко використовуються
        майже в усіх галузях народного господарства, а також для реклами.
      </p>

      <div class="eco-wrapper">
        <h2 class="subtitle">Екологічно</h2>
        <div class="img-wrapper">
          <img srcset="./img/disposal-cup.png 1x, ./img/disposal-cup@2x.png 2x"
            src="./img/disposal-cup.png"
            alt="plastic-glass"
          />
        </div class="img-wrapper">
      </div>
      <p class="text fourth-part-text">
        Ми пропонуємо як серійну продукцію так і пакети з фірмовим логотипом а
        також різні види плівок, в тому числі й термозбіжну. Також, по бажанню
        клієнта, ми використовуємо біорозкладні полімери або полімери вторинної
        переробки, що допомагає зберегти нашу планету
      </p>
       <a class="btn-link-desktop" href="./catalog.html/">Перейти у каталог</a>
    </div>
    <a class="btn-link" href="./catalog.html/">Перейти у каталог</a>
  </div>
</section>
