<section class="contacts">
  <div class="container">
    <h1 class="title">Контакти</h1>
    <div class="desktop-style-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2571.3956735589995!2d23.83385750660706!3d49.87259568306153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDUyJzIxLjUiTiAyM8KwNTAnMDUuMSJF!5e0!3m2!1suk!2sua!4v1694181857506!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="grid-container">
        <div class="first-column">
          <div class="phone-wrapper">
            <h3 class="subtitle">Телефон:</h3>
            <a class="text" href="tel:+380993260001">+38 (099) 326 00 01</a>
          </div>
          <div class="email-wrapper">
            <h3 class="subtitle">E-mail:</h3>
            <a class="text" href="mailto:eko_stakan@ukr.net"
              >eko_stakan@ukr.net</a
            >
          </div>
          <h3 class="subtitle">Адреса:</h3>
          <p class="text address">
            Львівська область, Яворівський район, <br />
            с. Карачинів, вул. Шевченка 2А
          </p>
        </div>
        <div class="second-column">
          <h3 class="subtitle">Контактні особи</h3>
          <ul class="contact-list">
            <li>
              <p class="text">Оверко Роман Богданович</p>
              <a class="text" href="tel:+380986608969">+38 (098) 660 89 69</a>
            </li>
            <li>
              <p class="text">Гірняк Володимир</p>
              <a class="text" href="tel:+380989255304">+38 (098) 925 53 04</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <a class="to-catalog-btn" href="./catalog.html/">Перейти у каталог</a>
      <a class="to-home-btn" href="./index.html/">Головна</a>
    </div>
  </div>
</section>
