<section class="catalog">
  <div class="container">
    <h1 class="title">Каталог продукції</h1>
    <ul class="products-list">
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/disposal-cup.png 1x, ./img/disposal-cup@2x.png 2x"
            src="./img/disposal-cup.png"
            alt="plastic glass"
          />
        </div>
        <a href="./disposal-cup.html">Стакани одноразові</a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/t-shirt-bag.png 1x, ./img/t-shirt-bag@2x.png 2x"
            src="./img/t-shirt-bag.png"
            alt="t-shirt-bag"
          />
        </div>
        <a href="./t-shirt-package.html">Пакети «Майка»</a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/paper-bag.png 1x, ./img/paper-bag@2x.png 2x"
            src="./img/paper-bag.png"
            alt="paper bags"
          />
        </div>
        <a href="./paper-package.html">Паперові пакети</a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/packaging-bag.png 1x, ./img/packaging-bag@2x.png 2x"
            src="./img/packaging-bag.png"
            alt="packaging bags"
          />
        </div>
        <a href="./packaging-bags.html">Фасувальні пакети</a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/inside-bag.png 1x, ./img/inside-bag@2x.png 2x"
            src="./img/inside-bag.png"
            alt="inside bags"
          />
        </div>
        <a href="./inside-bags.html">Пакети вкладиші</a>
      </li>
      <li>
        <div class="img-wrap">
          <img
            srcset="./img/recycled-bag-2.png 1x ./img/recycled-bag-2@2x.png 2x"
            src="./img/recycled-bag-2.png"
            alt="recycled bags"
          />
        </div>
        <a href="./recycled-bags.html">
          Рециклінгові пакети з переробленого пластику</a
        >
      </li>
    </ul>
  </div>
</section>
