<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer-logo">
      <div>
        <span class="logo-text">Еко</span>
        <svg width="32" height="32" style="fill: white">
          <use href="img/icon-sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Пак</span>
      </div>
    </a>
    <div class="footer-wrapper">
      <nav class="nav-container">
        <ul>
          <li>
            <a href="./index.html" class="nav-item-text">Головна</a>
          </li>
          <li>
            <a href="./catalog.html" class="nav-item-text">Каталог</a>
          </li>
          <li>
            <a href="./about.html" class="nav-item-text">Про нас</a>
          </li>
          <li>
            <a href="./contacts.html" class="nav-item-text">Контакти</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="./disposal-cup.html" class="nav-item-text"
              >Стакани одноразові</a
            >
          </li>
          <li>
            <a href="./t-shirt-package.html" class="nav-item-text"
              >Пакети «Майка»</a
            >
          </li>
          <li>
            <a href="./paper-package.html" class="nav-item-text"
              >Паперові пакети</a
            >
          </li>
          <li>
            <a href="./packaging-bags.html" class="nav-item-text"
              >Фасувальні пакети</a
            >
          </li>
          <li>
            <a href="./inside-bags.html" class="nav-item-text"
              >Пакети владиші</a
            >
          </li>
          <li>
            <a href="./recycled-bags.html" class="nav-item-text"
              >Рециклінгові пакети</a
            >
          </li>
        </ul>
      </nav>
      <a href="./index.html" class="footer-logo-desktop">
        <div>
          <span class="logo-text">Еко</span>
          <svg width="32" height="32" style="fill: white">
            <use href="img/icon-sprite.svg#icon-logo"></use>
          </svg>
          <span class="logo-text">Пак</span>
        </div>
      </a>
      <div class="address-wrapper">
        <ul class="contacts-list">
          <li class="contacts-item">
            <svg width="32" height="32" style="fill: white">
              <use href="img/icon-sprite.svg#icon-phone"></use>
            </svg>
            <a class="contact-text" href="tel:+380986608969"
              >+38 (098) 660 89 69</a
            >
          </li>
          <li class="contacts-item">
            <svg width="32" height="32" style="fill: white">
              <use href="img/icon-sprite.svg#icon-email"></use>
            </svg>
            <a class="contact-text" href="mailto:eko_stakan@ukr.net"
              >eko_stakan@ukr.net</a
            >
          </li>
        </ul>
        <div class="address">
          <h3 class="address-subtitle">Адреса:</h3>
          <div class="address-style-wrapper">
            <p class="address-text">Львівська область,</p>
            <p class="address-text">Яворівський район,</p>
          </div>
          <p class="address-text">с. Карачинів, вул. Шевченка 2А</p>
        </div>
      </div>
    </div>
  </div>
</footer>
