<header class="header">
  <div class="container header-container">
    <a href="./index.html">
      <div class="logo">
        <span>Еко</span>
        <svg width="32" height="32" style="fill: rgba(93, 195, 129, 1)">
          <use href="img/icon-sprite.svg#icon-logo"></use>
        </svg>
        <span>Пак</span>
      </div>
    </a>
    <nav class="navigation">
      <ul class=>
        <li>
          <a href="./index.html">Головна</a>
        </li>
        <li>
          <a href="./about.html">Про нас</a>
        </li>
        <li>
          <a href="./catalog.html">Каталог</a>
        </li>
        <li>
          <a href="./contacts.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <ul class="contacts-list">
      <li>
        <svg width="32" height="32" style="stroke: rgba(93, 195, 129, 1)">
              <use href="img/icon-sprite.svg#icon-phone-header"></use>
            </svg>
        <a href="tel:+380986608969"> +38 (098) 660 89 69</a>
      </li>
      <li>
        <svg width="32" height="32" style="stroke: rgba(93, 195, 129, 1)">
              <use href="img/icon-sprite.svg#icon-email-header"></use>
            </svg>
        <a href="mailto:eko_stakan@ukr.net">eko_stakan@ukr.net</a>
      </li>
    </ul>
    <svg class="burger-icon" width="42" height="42" style="stroke: #000000">
      <use href="img/icon-sprite.svg#icon-burger-menu"></use>
    </svg>
  </div>
</header>
<div class="secondary-header">
  <nav class="container secondary-header-container">
    <ul class="catalog-navigation">
        <li><a href="./disposal-cup.html">Стакани одноразові</a></li>
        <li><a href="./t-shirt-package.html">Пакети «Майка»</a></li>
        <li><a href="./paper-package.html">Паперові пакети</a></li>
        <li><a href="./packaging-bags.html">Фасувальні пакети</a></li>
        <li><a href="./inside-bags.html">Пакети  вкладиші</a> </li>
        <li><a href="./recycled-bags.html">Рециклінгові пакети</a></li>
      </ul>
    </nav>
</div>
