<section class="proposal">
  <div class="container">
    <h2 class="title">Що ми пропонуємо</h2>
    <div class="text-wrapper">
      <p class="text">
        Тут представлена основна наша продукція, яку ми виготовляємо. <br />
        У виробництві ми використовуємо егологічні технології.
      </p>
      <p class="text">
        Саме наша продукція покращить відношення Ваших клієнтів до бізнесу та
        збільшить прибутки, тому що це екологічно!
      </p>
    </div>
    <ul class="card-container">
      <li class="disposal-cap-card">
        <div class="img-wrap">
          <img
            srcset="img/disposal-cup.png 1x, img/disposal-cup@2x.png 2x"
            src="img/disposal-cup.png"
            alt="plastic-glass"
          />
        </div>
        <a class="image-subtext" href="./disposal-cup.html"
          >Стакани одноразові</a
        >
      </li>
      <li class="t-shirt-bag-card">
        <div class="img-wrap">
          <img
            srcset="img/t-shirt-bag.png 1x, img/t-shirt-bag@2x.png 2x"
            src="img/t-shirt-bag.png"
            alt="t-shirt-bag"
          />
        </div>
        <a class="image-subtext" href="./t-shirt-package.html">Пакети Майка</a>
      </li>
      <li class="paper-bag-card">
        <div class="img-wrap">
          <img
            srcset="img/paper-bag.png 1x, img/paper-bag@2x.png 2x"
            src="img/paper-bag.png"
            alt="paper-bag"
          />
        </div>
        <a class="image-subtext" href="./paper-package.html">Паперові пакети</a>
      </li>
    </ul>
    <a class="btn-link" href="./catalog.html">Перейти у каталог</a>
  </div>
</section>
