<section class="why-eco">
  <div class="container why-eco-container">
    <div class="image-container">
      <div class="image-wrapper">
        <img class="circle-image" src="img/circle-2-x.png" alt="circle" />
        <div class="bag-image-wrapper">
          <img class="bag-image" src="./img/t-shirt-bag.png" />
        </div>
      </div>
      <h2 class="text">Чому наша продукція краща — вона екологічна!</h2>
    </div>
    <div class="main-text-wrapper">
      <h2 class="text">Чому наша продукція краща — вона екологічна!</h2>
      <p class="main-text">
        На нашому підприємстві відкрито сучасний цех з збору та переробки
        поліетиленових пакетів та плівки, які вже були у використанні та
        підлягали утилізації
      </p>
      <p class="main-text">
        Можливість використання гранули вторинної переробки при виготовленні
        пакетів для сміття та інших виробів дозволяє не забруднювати навколишнє
        середовище та допомагає зберегти нашу планету
      </p>
      <a class="btn-link" href="./about.html">
        Дізнатись більше
        <svg width="32" height="24">
          <use href="img/icon-sprite.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
